.auction-container {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(245, 247, 248, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .item-name{
    color: rgba(69, 71, 75, 1);

  }
  
  .information {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .one-block {
    flex: 1;
    margin-right: 10px;
  }
  
  .one-block:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  
  .one-block:last-child {
    margin-right: 0;
  }
  
  .upper-title {
    font-weight: bold;
  }
  
  .lower-title {
    color: rgba(69, 71, 75, 1);
  }

  .photo-bidding {
    padding: 10px;
    display: flex;
    margin-top: 20px;
    border: 1px solid rgba(69, 71, 75, 1);
  }
  
  .auction-photo {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .bidding {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Adjust spacing between photo and bidding */
  }
  
  .highest,
  .minimal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .highest-bid {
    color: rgba(244, 206, 20, 1);
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0; /* Adjust spacing */
  }
  
  .bid-info {
    display: flex;
    align-items: center;
  }
  
  .separator {
    width: 100%; /* Full width */
    height: 1px; /* Thickness of separator */
    background-color: #ccc; /* Color of separator */
    margin: 10px 0; /* Adjust spacing */
  }
  
  .bid {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(244, 206, 20, 1);
    color: white;
    margin-right: 10px;
  }
  
  .input {
    padding: 5px;
    border-radius: 5px;
  }

  .favorite {
    display: flex;
    justify-content: left;
    padding: 5px;
  }
  .text {
    margin-left: 5px;
  }
    