.ContainerAuctionItem {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: white;
  width: 500px;
}

.ImageAuctionItem {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auction-title{
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.ImageAuctionItem img{
    width: 100%;
    height: auto;
    border: 1px solid black;

}

.InfoAndButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1vh;
  width: 100%;
  padding: 0;
  margin-top: auto; /* Add this line */
}


.InfoAuctionItem p {
  color: black;
  font-size: 2vh;
}

.ButtonAuctionItem {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
}

.ButtonAuctionItem Button {
  background-color: #f4ce14;
  border: none;
  color: white;
  margin-right: 10px;
}

.reporting-dots{
  color: #ccc;
  font-size: 20px;
}