 .auction-container {
    margin-left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(245, 247, 248, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .extend-close{
    padding:5px;
    margin-bottom: 5px;
    background-color: rgba(244, 206, 20, 1);
    color: white;
  }

  .full-comment{
    padding: 5px;
  }

  .additional,.comments{
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(245, 247, 248, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
/*
  .single-comment{
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: flex-start;
    background-color: rgba(185, 201, 209, 0.393);
    border-radius: 5px;
  }*/

  .single-comment {
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(185, 201, 209, 0.393);
    border-radius: 5px;
  }

  .username-time{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #45474b36;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    align-self: center;
  }

  .username{
    color: black;

  }

  .comment-text{
    margin-left: 10px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .time{
    color: rgba(0, 0, 0, 0.452);
    font-size: small;
  }

  .item-name{
    color: rgba(69, 71, 75, 1);
  }
  
  .information {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .one-block {
    flex: 1;
    margin-right: 10px;
  }
  
  .one-block:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  
  .one-block:last-child {
    margin-right: 0;
  }
  
  .upper-title {
    font-weight: bold;
  }
  
  .lower-title {
    color: rgba(69, 71, 75, 1);
  }

  .photo-bidding {
    padding: 15px;
    display: flex;
    margin-top: 20px;
    border: 1px solid rgba(69, 71, 75, 0.283);
    border-radius: 5px;
  }
  
  .auction-photo {
    width: 500px;
    height: auto; /* Adjust width as needed */ /* Maintain aspect ratio */
  }
  
  .bidding {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Adjust spacing between photo and bidding */
  }
  
  .highest,
  .minimal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .highest-bid {
    color: rgba(244, 206, 20, 1);
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0; /* Adjust spacing */
  }
  
  .bid-info {
    display: flex;
    align-items: center;
  }
  
  .separator {
    width: 100%; /* Full width */
    height: 1px; /* Thickness of separator */
    background-color: #ccc; /* Color of separator */
    margin: 10px 0; /* Adjust spacing */
  }
  
  .bid {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(244, 206, 20, 1);
    color: white;
    margin-right: 10px;
  }
  
  .input {
    padding: 5px;
    border-radius: 5px;
  }

  .favorite {
    display: flex;
    justify-content: left;
    padding: 0px;
    align-items: center;
  }
  .text {
    margin-left: 5px;
  }
  .likeButton{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 12px;
  }
  .placing-bids{
    padding-bottom: 5px;
  }
  .button{
    background-color: rgba(244, 206, 20, 1);
    color: white;
  }
