.contentStyle {
  margin: 0;
  height: 100px;
  color: #fff;
  line-height: 160px;
  align-items: center;
  background: #f4ce14;
  width:80%;

}

.contents{
   width:80%;
}
.no-underline {
  text-decoration: none;
  margin:0;
}
/* Custom styles for the Carousel arrows */
.arrows .slick-prev,
.arrows .slick-next {
  color: black !important;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%; 
}

.arrows .slick-prev:hover,
.arrows .slick-next:hover {
  color: black !important;
  font-size: 35px; /* Increase arrow size */
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
   z-index: 2;
}
/* Custom styles for the Carousel arrows */


.text {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
}

