.item-listings-page{
    width: 85%;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 15%; /* Remove padding */
    height: 100%;
    background-color: white; /* Black background color */
    /*display: flex; /* Use flexbox */
     /* flex-direction: column;
    justify-content: flex-start; /* Center horizontally */
    align-items: right; /* Center vertically */
    min-height: 100vh; /* Take up the whole viewport height */
    
}
.auction-items{
    flex: 1;
}

.no-underline {
    text-decoration: none;
}
.centered-buttons {
  text-align: center;
}

:root {
  --ant-pagination-item-active-bg: #f0f0f0; /* Lighter background color for active item */
  --ant-pagination-item-bg: #ffffff; /* Background color for pagination item */
  --ant-pagination-item-link-bg: #ffffff; /* Background color for pagination item link */
}

.pagination-container {
  justify-content: center;

}

.pagination {
  
  display: flex;
  justify-content:center;
  
}

.ant-pagination-item {
  margin: 16px 8px; /* Add margin to the pagination numbers */
}

