/* FavoritesPage.css */
.space{
  align-items: center;
  display:flex;
}

.favorite-list {
  align-items: center;
  display: inline;
  /*padding-left: 5%;*/
}
.list-elements{
  list-style-type: none; 
  /*padding-left:15%;*/
}
.no-underline {
  text-decoration: none;
}

.page-title {
  text-align: center; /* Center the text horizontally */
}
.auctions {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 30vh;

}