.App {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    width: 100%;
}
.account-button{
    background-color: #45474b00;
    color: white;
    font-size: 14;
    border: #45474b00;
}

.account-menu{
    position: sticky;
    z-index: 1000;
    width: 140px;
}
