.sider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: 85%; 
    position: sticky;
    width: auto;
  }
  
  .conversations-list {
    position: sticky;
    max-width: 800px;
    max-height: 70%; 
    overflow-y: scroll;
    align-items: center;
  }

 .convo{
  line-height: 10%;
  padding-top:5%;
  padding-bottom: 5%;
 }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.164);
  }
  
  .conversation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .username {
    margin-left: 5%;
    font-weight: bold;
  }
  
  .message-date {
    margin-right:5%;
    font-size: 0.8em;
    color: #888;
  }
  
  .last-message {
    margin-bottom: 5px;
  }
  
  .conversation-rectangle a {
    align-self: flex-end;
    text-decoration: none;
    color: blue;
    font-size: 0.9em;
    margin-top: 5px;
  }

  h2{
    max-height: 10vh;
  }
  