/* NavigationMenu.css */

/* Style the menu container */
.menu {
  position:absolute; /* Absolute position */
  width: 256px; /* Adjust the width as needed */
  background-color: white;
  border: 1px solid rgba(123, 120, 120, 0.242);
  border-radius: 4px;
  z-index: 1000; /* Ensure the menu appears above other content */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  /*padding-left: 30px; /* Add padding as needed */
  padding: 5px;
  text-align: left;
}
a {
  text-decoration: none;
  color:black;
}
/* Style the menu items */
.menu-item {
  margin-bottom: 10px; /* Add spacing between menu items */
 
}
